@import './colors.scss';

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}
.common_form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
}
.form_input{
    margin-bottom: 20px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid $primary_color;
    color: $primary_color;
}
.form_btn{
    height: 35px;
    color: $primary_color;
    border: 1px solid $primary_color;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.errTxt{
    color: red;
}