@import '../../../colors.scss';

h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
    color: $primary_color;
}
.toggle_link{
    margin-top: 20px;
    color: $primary_color;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
}
.login{
    text-align: center;
    .errTxt{
        margin-bottom: 1rem;
    }
}